.box{
  border: 1px solid;
  width: 300px;
  word-wrap: wrap;
  padding: 15px 20px;
  margin: 10px 20px;
  box-shadow:0px 4px 8px rgba(0,0,0, 0.5);
}

.myblogs{
  margin-top: 50px;
}

.display-row{
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  flex-wrap: wrap;
  margin-top: 50px;
}

.margin-top{
  margin-top: 50px;
}

.blog{
  margin: 50px 0;
}
.hey{
  position: relative;
  left: 50%;
}

.popup {  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  background: white;
}

.popup-box{
  margin: 20px;
}

.activebtn{
  margin: 0px 15px;
  padding: 5px 10px;     
  border-radius: 10px;
  background-color: blue;
  border-color: #00e9d4 !important;
  color: white;
}

.btns{
  margin: 0px 15px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  border-color: #00e9d4 !important;
}

.fixedposition{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: aliceblue;
}

.display-flex{
  display: flex;
  flex-direction: row;
  margin: 0px 40px;
}

.title{
  margin-top: 23px;
  font-family: 'Roboto Slab', serif;
}

.projects{
  margin-top: 10%;
  padding: 0 30px;
}

th{
  font-size: 20px;
}

td{
  font-size: 20px;
  font-weight: 500;
}

.tc{
  text-align: center;
}

.table{
  margin-top: 30px;
}
.learn_more_btn{
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgb(0, 178, 233);
  margin-bottom: 20px;
  border-color: deepskyblue;
}

.projects_section{
  text-align: center;
}

.display-flex1{
  display: flex;
  flex-direction: row;
  margin: 25px 0px 25px auto;
  position: relative;
}

.display-flex1 nav a:hover{
 text-decoration: underline;
 cursor: pointer;
 color: blue;
}

.display-flex1 nav {
  display: flex;
  flex-direction: row;
}

.display-flex1 li { 
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  padding: 0 25px;

}
.center_align{
  margin: 0px auto;
}

.hamb_icon{
  display: none;
}

.slide_show{
  width: 100vw;
}

.slides_custom{
  margin: 0 20px !important;
}

form{
  margin: 5%;
}

label, legend{
  font-size: 20px !important;
}

@media (max-width: 460px){
  .hamb_icon{
      display: inline-block;
      position: relative;
      left: 270px;
      font-size: 25px;
      bottom: 30px;
  }

  .display-flex1{
    display: block !important;
    width: 100%;
    position: fixed;
    top: 55px;
    right: -100%;
    margin: 25px 0;
}
.display-flex1 nav{
    display: block !important;
}

.update_div{
  display: block !important;
  position: absolute;
  top: 55px;
  left: 56%;
  transition: all 0.5s;
  height: 100vh;
  z-index: 1000;
  background-color: #282882bf;
  padding-right: 50%;
}
.display-flex1 li{
  list-style: none;
  margin-top: 30px;
  padding: 0 0;
  color: rgb(236, 192, 192);
}

}